<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>CSS Preprocessors</title>

		<meta name="description" content="Environment - EPAM front-end lectures">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href='https://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/epam.css">
		<link rel="stylesheet" href="css/my.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section data-state="mainpage">
					<h1>HTML & CSS, p. 2</h1>
					<br>
					<h3>Stanislav Dolgachov</h3>
					<time datetime="2018-07-27">27 July, 2018</time>
				</section>

				<section data-state="aboutme">
					<h2>About me</h2>
					<ul>
						<li>
							<h3>Senior software engineer</h3>
						</li>
						<li>
							<h3>3+ years of production experience</h3>
						</li>
						<li>
							<h3>5 projects</h3>
						</li>
						<li>
							<h3>I like dogs</h3>
						</li>
					</ul>
				</section>

				<section data-state="agenda">
					<h2>Agenda</h2>
					<ul>
						<li>
							<h3>1. Pseudos</h3>
						</li>

						<li>
							<h3>2. Grids</h3>
						</li>

						<li>
							<h3>3. Pre-processors & PostCSS</h3>
						</li>

						<li>
							<h3>4. Methodologies</h3>
						</li>

						<li>
							<h3 style="color: yellowgreen">-&#45;&#45;&#45;&#45;&#45;&#45;Coffee break&#45;&#45;&#45;&#45;&#45;&#45;</h3>
						</li>
					</ul>
				</section>

				<section>
					<ul>
						<li>
							<h3>5. Organizing CSS code</h3>
						</li>

						<li>
							<h3>6. Adaptive/Responsive</h3>
						</li>

						<li>
							<h3>7. Sprites</h3>
						</li>

						<li>
							<h3>8. Best&Bad practices</h3>
						</li>

						<li><h3 style="color: #1b91ff"><<<<<< Q&A >>>>>>>></h3></li>
					</ul>
				</section>

				<section>
					<h1>Pseudos</h1>
				</section>

				<section>
					<h3>Example</h3>
					<pre><code>
selector:pseudo-class {
  property: value;
}

div:hover {
  background-color: #F89B4D;
}
						</code></pre>
				</section>

				<section>
					<h2>Pseudo-class</h2>

					<div style="display: flex;">
						<ul>
							<li>:active</li>
							<li>:any-link</li>
							<li>:checked</li>
							<li>:default</li>
							<li>:disabled</li>
							<li>:empty</li>
							<li>:enabled</li>
						</ul>

						<ul>
							<li>:first-child</li>
							<li>:focus</li>
							<li>:hover</li>
							<li>:invalid</li>
							<li>:last-child</li>
							<li>:nth-child()</li>
							<li>...</li>
						</ul>
					</div>
				</section>

				<section>
					<h3>Example</h3>
					<pre><code>
selector::pseudo-element {
  property: value;
}

p::first-line {
  color: blue;
  text-transform: uppercase;
}
						</code></pre>
				</section>

				<section>
					<h2>Pseudo-element</h2>
					<div style="display: flex;">
						<ul>
							<li>::after</li>
							<li>::before</li>
							<li>::cue</li>
							<li>::first-letter</li>
							<li>::first-line</li>
						</ul>

						<ul>
							<li>::selection</li>
							<li>::backdrop</li>
							<li>::placeholder</li>
							<li>::marker</li>
							<li>...</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>CSS cascade</h2>
					<img width="135%" src="img/selectors-sp.jpg" alt="selectors specificity">
					<br>
					<a target="_blank" href="https://codepen.io/Dolgach/pen/BPQWam">Try me</a>
				</section>

				<section>
					<h1>Grids</h1>
				</section>

				<section>
					<iframe height='500' scrolling='no' title='Flex boxes grid example' src='//codepen.io/Dolgach/embed/MBEYQp/?height=500&theme-id=0&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Dolgach/pen/MBEYQp/'>Flex boxes grid example</a> by Stas (<a href='https://codepen.io/Dolgach'>@Dolgach</a>) on <a href='https://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h3>Floats</h3>
					<iframe height='500' scrolling='no' title='Float grid example' src='//codepen.io/Dolgach/embed/pZWvwb/?height=500&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Dolgach/pen/pZWvwb/'>Float grid example</a> by Stas (<a href='https://codepen.io/Dolgach'>@Dolgach</a>) on <a href='https://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h3>Inline-blocks</h3>
					<iframe height='500' scrolling='no' title='Inline-block grid example' src='//codepen.io/Dolgach/embed/MBEYob/?height=500&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Dolgach/pen/MBEYob/'>Inline-block grid example</a> by Stas (<a href='https://codepen.io/Dolgach'>@Dolgach</a>) on <a href='https://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h3>Flex-boxes</h3>
					<iframe height='500' scrolling='no' title='Flex boxes grid example' src='//codepen.io/Dolgach/embed/MBEYQp/?height=500&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Dolgach/pen/MBEYQp/'>Flex boxes grid example</a> by Stas (<a href='https://codepen.io/Dolgach'>@Dolgach</a>) on <a href='https://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h1>Pre-processors</h1>
				</section>

				<section>

					<section>
						<h2>Why do we need pre-processors?</h2>
						<aside class="notes">
							CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions and many other techniques that allow you to make CSS that is more maintainable, themable and extendable.
						</aside>
					</section>

					<section>
						<h3>The main goal is to make developer experience better</h3>
					</section>

				</section>

				<section>
					<h2>How does it work?</h2>
					<img src="img/preprocessors_to_css.svg" alt="preprocessors diagram">
				</section>

				<section>
					<section>
						<h2>3 most popular<br>CSS pre-processors</h2>
						<img height="200" src="img/preprocessors.png" alt="">
					</section>
					<section>
						<h1>SASS</h1>
						<h3>2007</h3>
						<div style="text-align:left; padding: 30px 0 0;">
							<img src="img/Hampton-Catlin.jpeg" alt="" style="float: left;height: 300px;margin-right: 30px;" />
							<h3 style="padding-top: 20px;">Hampton Catlin</h3>
							<p><a href="https://twitter.com/hcatlin" target="_blank">@hcatlin</a></p>
							<p><a href="http://sass-lang.com/">sass-lang.com</a></p>
							<p>Last version: 3.5.5 (5 January 2018)</p>
						</div>
					</section>
					<section>
						<h1>LESS</h1>
						<h3>2009</h3>
						<div style="text-align:left; padding: 30px 0 0;">
							<img src="img/Alexis-Sellier.jpg" alt="" style="float: left;height: 300px;margin-right: 30px;" />
							<h3 style="padding-top: 20px;">Alexis Sellier</h3>
							<p><a href="https://twitter.com/cloudhead" target="_blank">@cloudhead</a></p>
							<p><a href="http://lesscss.org/">lesscss.org</a></p>
							<p>Last version: 2.7.2 - April, 2017</p>
						</div>
					</section>
					<section>
						<h1>Stylus</h1>
						<h3>2010</h3>
						<div style="text-align:left; padding: 30px 0 0;">
							<img src="img/TJ-Holowaychuk.jpg" alt="" style="float: left;height: 300px;margin-right: 30px;" />
							<h3 style="padding-top: 20px;">TJ Holowaychuk</h3>
							<p><a href="https://twitter.com/tjholowaychuk" target="_blank">@tjholowaychuk</a></p>
							<p><a href="http://stylus-lang.com/">stylus-lang.com</a></p>
							<p>Last version: ???</p>
						</div>
					</section>
				</section>

				<section>
					<h2>What is the difference?</h2>
				</section>

				<section>
					<h2>80/20</h2>
					<p class="fragment">80% similar</p>
					<p class="fragment">20% different</p>
				</section>

				<section>
					<h2>Syntax</h2>
					<h3>LESS & SCSS</h3>
					<pre><code data-trim contenteditable>
body {
  background-color: #efefef;
  font-size: 100% Helvetica, sans-serif;
}
					</code></pre>
					<h3>SASS</h3>
					<pre><code data-trim contenteditable>
body
  background-color: #efefef
  font-size: 100% Helvetica, sans-serif
					</code></pre>
					<h3>Stylus</h3>
					<pre><code data-trim contenteditable>
body
  background-color #efefef
  font-size 100% Helvetica, sans-serif
					</code></pre>
					<p>Stylus supports all of them</p>
				</section>

				<section>
					<h2>Variables</h2>
					<h3>SCSS</h3>
					<pre><code data-trim contenteditable>
$button-background: #27adec
.btn {
  background: $button-background
}
					</code></pre>
					<h3>LESS</h3>
					<pre><code data-trim contenteditable>
@button-background: #27adec;
.btn {
  background: @button-background;
}
					</code></pre>
					<h3>Stylus</h3>
					<pre><code data-trim contenteditable>
button-background = #27adec
.btn
  background button-background
					</code></pre>
				</section>
				<section>
					<section>
						<h2>Nested selectors</h2>
						<h3>LESS & SCSS</h3>
						<pre><code data-trim contenteditable>
.main-header {
  &__text {
    background-color: #fff;
  }

  &__controls {
    padding: 10px;
  }

  &__column {
    margin: 10px;
  }
}
						</code></pre>

					</section>

					<section>
						<h3>CSS</h3>
						<pre><code data-trim contenteditable>
.main-header__text {
  background-color: #fff;
}
.main-header__controls {
  padding: 10px;
}
.main-header__column {
  margin: 10px;
}
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Imports</h2>
					</section>
					<section>
						<h3>_reset.scss</h3>
						<pre><code data-trim contenteditable>
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
							</code></pre>
						<h3>base.scss</h3>
						<pre><code data-trim contenteditable>
@import 'reset';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}
							</code></pre>
					</section>

				</section>

				<section>
					<h2>Calculations</h2>
					<h3>Sass, LESS, & Stylus</h3>
					<pre><code data-trim contenteditable>
body {
  margin: (14px/2);
  top: 50px + 100px;
  right: 100px - 50px;
  left: 10 * 10;
}
					</code></pre>
				</section>

				<section>
					<section>
						<h2>Mixins</h2>
						<h3>LESS</h3>
						<div class="cols">
							<div class="col-2">
								<p>No parameters</p>
								<pre><code data-trim contenteditable>
bordered {
  border: 1px solid #000;
  border-top-color: #444;
  border-bottom-color: #444;
}
#main {
  .bordered;
}
								</code></pre>
							</div>
							<div class="col-2">
								<p>With parameters</p>
								<pre><code data-trim contenteditable>
.transform-scale (@x, @y) {
  -webkittransform: scale(@x, @y);
  transform: scale(@x, @y);
}

.main {
  .transform-scale(2,3);
}
								</code></pre>
							</div>
						</div>
					</section>
					<section>
						<h3>SASS</h3>
						<pre><code data-trim contenteditable>
=transform-scale($x: 2, $y: 2)
  -webkit-transform: scale($x, $y)
  transform: scale($x, $y)

.main
  +transform-scale(2, 3)
						</code></pre>
					</section>

					<section>
						<div class="co">
							<div class="col-2">
								<h3>SCSS</h3>
								<pre><code data-trim contenteditable>
@mixin transform-scale ($x: 2, $y: 2){
  -webkit-transform: scale($x, $y);
  transform: scale($x, $y);
}

.main{
  @include transform-scale(2,3)
}
						</code></pre>
							</div>

							<div class="col-2">
								<h3>CSS</h3>
								<pre><code data-trim contenteditable>
.main{
  -webkit-transform: scale(2, 3);
  transform: scale(2, 3);
}
						</code></pre>
							</div>

						</div>


					</section>

					<section>
						<h3>Stylus</h3>
						<pre><code data-trim contenteditable>
transform-scale (x, y)
  -webkit-transform scale(x, y)
  transform scale(x, y)


.main
  transform-scale(2,3)

						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Color functions</h2>
						<h3>SASS</h3>
						<pre><code data-trim contenteditable>
rgb($red, $green, $blue)
hsl($hue, $saturation, $lightness)
hue($color)
saturation($color)
lightness($color)
adjust-hue($color, $degrees)
lighten($color, $amount)
darken($color, $amount)
saturate($color, $amount)
desaturate($color, $amount)
grayscale($color)
complement($color)
invert($color)
...
						</code></pre>
						<a href="http://sass-lang.com/documentation/Sass/Script/Functions.html">other functions</a>
					</section>
					<section>
						<h3>LESS</h3>
						<pre><code data-trim contenteditable>
rgb(@red, @green, @blue);
hsl(@hue, @saturation, @lightness);
hue(@color);
saturation(@color);
lightness(@color);
saturate(@color, @amount);
desaturate(@color, @amount);
lighten(@color, @amount);
darken(@color, @amount);
fadein(@color, @amount);
fadeout(@color, @amount);
spin(@color, @angle);
mix(@color, @angle);
grayscale(@color);
contrast(@color, @dark, @light, threshold);
...
						</code></pre>
						<a href="http://lesscss.org/functions/#color-operations">other functions</a>
					</section>

					<section>
						<h3>STYLUS</h3>
						<pre><code data-trim contenteditable>
rgba(color, alpha)
lighten(color, amount)
darken(color, amount)
desaturate(color, amount)
saturate(color, amount)
invert(color)
hue(color)
saturation(color);
lightness(color);
...
						</code></pre>
						<a href="http://learnboost.github.io/stylus/docs/bifs.html">other functions</a>
					</section>
				</section>

				<section>
					<section>
						<h2>Pre-processors drawbacks</h2>
					</section>

					<section>
						<h2>It is not a real CSS</h2>

						<pre>
						<code data-trim contenteditable>
.accordion {
  $accordion-header-color: $primary-color;
  $accordion-padding: 1em;

  @extend %module;
  @include transition(all 0.3s ease-out);
  background: $accordion-header-color;
  padding: $accordion-padding;
}


						</code>
					</pre>
					</section>

					<section>
						<h2>Sometimes they make everything too sophisticated</h2>
						<pre>
						<code data-trim contenteditable>
&__moon{
	& .forecast-extra-info__logo {
		background: url('../img/moon_states.png') no-repeat;
	}

	@for $i from 0 through 30 {
		&_#{$i} .forecast-extra-info__logo {
			background-position: $i*(-58px) 0;
		}
	}
}
						</code>
					</pre>

					</section>
				</section>

				<section>
					<h1>PostCSS</h1>
				</section>

				<section>
					<h1>PostCSS</h1>
					<h3>from 2013</h3>
					<div style="text-align:left; padding: 30px 0 0;">
						<img src="img/andrei_sitnik.jpg" alt="" style="float: left;height: 300px;margin-right: 30px;" />
						<h3 style="padding-top: 20px;">Andrey Sitnik</h3>
						<p><a href="https://twitter.com/andrey_sitnik" target="_blank">@andrey_sitnik</a></p>
						<p><a href="http://postcss.org/">postcss.org</a></p>
						<p>Last version: version 7.0.1 released 6 days ago</p>
					</div>
				</section>

				<section>
					<section>
						<h2>How does PostCSS work?</h2>
					</section>

					<section>
						<img src="img/post_css.svg" alt="postcss diagram">
					</section>
				</section>

				<section>
					<section>
						<h3>What can we do with PostCSS?</h3>
						<ol>
							<li>Polyfills</li>
							<li>Support old browsers</li>
							<li>Language extensions</li>
							<li>Optimization</li>
							<li>Syntax sugar</li>
							<li>Analytics</li>
						</ol>
					</section>

					<section>
						<h2>more than 90 plugins</h2>
					</section>

					<section>
						<a href="https://twitter.com/pepelsbey/status/663131603342893056?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fcakeinpanic.github.io%2Fhackathon%2F">
							<img src="img/makeev.png" alt="макеев твит">
						</a>
					</section>

					<section>
						<h2>You always can write your own plugin!</h2>
					</section>

					<section>
						<h3>Usage</h3>

						<pre><code data-trim contenteditable>
var postcss = require('postcss');

postcss([
  require('autoprefixer'),
  require('stylelint')({
  syntax: 'scss'
  })
])
.process(css)
.then(result => console.log(result.css))

					</code></pre>
					</section>

				</section>

				<section>
					<h3>With great power comes great responsibility</h3>
					<img src="img/great_power.jpg" alt="Spider-man standing on the roof">
				</section>

				<section>
					<h1>Methodologies</h1>
				</section>

				<section>
					<h2>Big-medium size projects problems</h2>
					<ol>
						<li>
							<h3>Styles <span class="coloured-symbols coloured-symbols_blue">encapsulation</span></h3>
						</li>

						<li>
							<h3>Code <span class="coloured-symbols coloured-symbols_blue">reuse</span></h3>
						</li>

						<li>
							<h3><span class="coloured-symbols coloured-symbols_blue">Fragility</span> of CSS code (cascades, dependencies...)</h3>
						</li>
					</ol>
				</section>

				<section>
					<div>Most known and popular of them are</div>
					<ul class="methodologies-list">
						<li class="fragment">
							<h3>BEM</h3>
							<div><span class="coloured-symbols coloured-symbols_blue">B</span>lock
								<span class="coloured-symbols coloured-symbols_blue">E</span>lement
								<span class="coloured-symbols coloured-symbols_blue">M</span>odifier
							</div>
						</li>
						<li class="fragment">
							<h3>SMACSS</h3>
							<div><span class="coloured-symbols coloured-symbols_blue">S</span>calable
								and
								<span class="coloured-symbols coloured-symbols_blue">M</span>odular
								<span class="coloured-symbols coloured-symbols_blue">A</span>rchitecture
								for
								<span class="coloured-symbols coloured-symbols_blue">CSS</span>
							</div>
						</li>
						<li class="fragment">
							<h3>OOCSS</h3>
							<div>
								<span class="coloured-symbols coloured-symbols_blue">O</span>bject
								<span class="coloured-symbols coloured-symbols_blue">O</span>riented
								<span class="coloured-symbols coloured-symbols_blue">CSS</span>
							</div>
						</li>
					</ul>
				</section>

				<section data-state="toast-design"></section>

				<section>
					<h3>BEM Example</h3>
					<pre><code class="xml">
<div class="toast">
    <div class="toast-item toast-item_critical">
        <span class="toast-item__close"></span>
        <div class="toast-item__content"><% text-critical %></div>
    </div>

    <div class="toast-item toast-item_warning">
        <span class="toast-item__close"></span>
        <div class="toast-item__content"><% text-warning %></div>
    </div>

    <div class="toast-item toast-item_info">
        <span class="toast-item__close"></span>
        <div class="toast-item__content"><% test-info %></div>
    </div>
</div>
					</code></pre>
				</section>

				<section>
					<div><a href="https://ru.bem.info/" target="_blank">ru.bem.info</a></div>
				</section>

				<section>
					<h1>Organizing <span class="coloured-symbols coloured-symbols_blue">CSS</span> Code</h1>
				</section>

				<section>
					<div style="font-style:italic;">Sooner or later...</div>
				</section>

				<section data-state="wtfcode"></section>

				<section>
					<h2>How to?</h2>
				</section>

				<section data-state="css-organizing-project-css"></section>

				<section>
					<h4>main.scss</h4>
					<pre><code>
@import '_variables';
@import '_mixins';
@import '_fonts';

@import 'blocks/_common';
@import 'blocks/_layout';

...

@import '_themes';
					</code></pre>
				</section>

				<section>
					<h4>variables.scss</h4>
					<pre><code style="font-size:.6em">
// Fonts

$font-roboto-regular: 'roboto-regular', Tahoma, sans-serif;
$font-roboto-regularitalic: 'roboto-regularitalic', Tahoma, sans-serif;
...

// Paths

$image-path: '../../img/';

// Colors

$black: #000;
$white: #fff;
...

// Layout

$layout: (
	header: (
		background-color: #f5f6f8
	),
	left-sidebar: (
		z-index: 100,
		width: 150px,
		background-color: #0a2756
	),
	right-sidebar: (
		z-index: 80,
		background-color: rgba($black, .2)
	),
	grid: (
		columns-amount: 4
	)
);
					</code></pre>
				</section>

				<section>
					<h2>Reusing code</h2>
					<h3 class="fragment" style="margin-top: 2em;">DRY</h3>
					<h3 class="fragment" style="margin-top: 2em;">KISS</h3>
					<h3 class="fragment" style="margin-top: 2em;">YAGNI</h3>
				</section>

				<section>
					<h2>Responsive Web Design</h2>
				</section>

				<section data-state="rwd-image"></section>

				<section>
					<h2 data-question="1">Viewport</h2>
					<div class="fragment">
						<pre><code>
<meta name="viewport" content="width=device-width">
						</code></pre>
					</div>
				</section>

				<section>
					<h2 data-question="2">Fluid grid</h2>
					<ul>
						<li class="fragment">All dimension converting to percents</li>
					</ul>
				</section>

				<section>
					<h2 data-question="3">@media</h2>
					<ul>
						<li class="fragment">Device type</li>
						<li class="fragment">Dimension (min/max width or height)</li>
						<li class="fragment">Pixel ratio</li>
						<li class="fragment">Device orientation</li>
						<li class="fragment">...and so on</li>
					</ul>
				</section>

				<section>
					<iframe height='300' scrolling='no' title='ENrJOm' src='//codepen.io/vend3tta/embed/ENrJOm/?height=300&theme-id=dark&default-tab=css&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/vend3tta/pen/ENrJOm/'>ENrJOm</a> by vend3tta (<a href='http://codepen.io/vend3tta'>@vend3tta</a>) on <a href='http://codepen.io'>CodePen</a>.
					</iframe>
					<div class="fragment"><a href="https://www.w3.org/TR/css3-mediaqueries/" target="_blank">W3C Spec</a></div>
				</section>

				<section>
					<iframe height='300' scrolling='no' title='WoPWaV' src='//codepen.io/vend3tta/embed/WoPWaV/?height=300&theme-id=dark&default-tab=html&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/vend3tta/pen/WoPWaV/'>WoPWaV</a> by vend3tta (<a href='http://codepen.io/vend3tta'>@vend3tta</a>) on <a href='http://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h2 data-question="4">Flexible images</h2>
					<ul>
						<li class="fragment">max-width: 100%;</li>
						<li class="fragment">HTML5 <a href="https://www.w3.org/TR/html-picture-element/" target="_blank">&lt;picture&gt;</a> tag</li>
						<li class="fragment">Icon fonts (e.g. <a href="fontawesome.io" target="_blank">Font Awesome</a>)</li>
						<li class="fragment">SVG</li>
					</ul>
				</section>

				<section>
					<h1>Sprites</h1>
					<blockquote class="question">Do we need to use sprites? Are there any issues using them?</blockquote>
				</section>

				<section>
					<h3><span class="coloured-symbols coloured-symbols_blue">Yes</span>, you need</h3>
					<div>until HTTP/2 will be everywhere</div>
				</section>

				<section>
					<h3>Browser Limits</h3>
					<div class="fragment" style="font-size:.8em">
						<img src="img/concurent-connections.png" alt="concurrent connections in browser">
						<div>2018</div>
					</div>
				</section>

				<section>
					<h3>What is sprite?</h3>
				</section>

				<section data-state="sprite-example"></section>

				<section data-state="sprite-example-2"></section>

				<section data-state="sprite-youtube"></section>

				<section>
					<img src="assets/i/sprite-social.png" alt="">
				</section>

				<section>
					<iframe height='500' scrolling='no' title='xRMBvZ' src='//codepen.io/vend3tta/embed/xRMBvZ/?height=500&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/vend3tta/pen/xRMBvZ/'>xRMBvZ</a> by vend3tta (<a href='http://codepen.io/vend3tta'>@vend3tta</a>) on <a href='http://codepen.io'>CodePen</a>.
					</iframe>
				</section>

				<section>
					<h3>Nowadays</h3>
					<ul>
						<li class="fragment">Due to retina displays, <strong>SVG</strong> sprites are preferrable</li>
						<li class="fragment">A lot of tools for automation build process, e.g. <a href="https://github.com/gobwas/gulp-sprite-generator" target="_blank">gulp-sprite-generator</a> for Gulp</li>
					</ul>
				</section>

				<section>
					<h3>Bad <span class="coloured-symbols coloured-symbols_blue">practices</span></h3>
					<ul>
						<li class="fragment">Inline styles</li>
						<li class="fragment">!important</li>
						<li class="fragment">ID selectors (and tag selectors)</li>
						<li class="fragment">Huge selectors or cascades</li>
						<li class="fragment">Extra elements in markup</li>
						<li class="fragment">Things that aren't clear or obvious</li>
						<li class="fragment">Transliteration and shortens in class names</li>
						<li class="fragment">Sophisticated pre-processors code</li>
					</ul>
				</section>

				<section>
					<h3>Best <span class="coloured-symbols coloured-symbols_blue">practices</span></h3>
					<ul>
						<li class="fragment">Minify amount of static files on page</li>
						<li class="fragment">Include CSS files in the &lt;head&gt;; JS &mdash; before &lt;/body&gt;</li>
						<li class="fragment">Use tags according to their purpose (Semantic)</li>
						<li class="fragment">Write and keep your code clean and REFACTOR it</li>
						<li class="fragment">Use source maps</li>
						<li class="fragment">Use CSS Preprocessor / CSS Postprocessor</li>
						<li class="fragment">Use methodology (BEM)</li>
						<li class="fragment">Use component based approach</li>
					</ul>
				</section>

				<section data-state="thank-you">
					<h2 class="coloured-symbols coloured-symbols_blue">Thank you</h2>
					<div>Questions?</div>
				</section>

				<section data-state="thank-you">
					<h3 class="coloured-symbols coloured-symbols_blue">Homework</h3>
					<img src="img/homework.jpeg" alt="after lecture homework">
				</section>

				<!--My slides end-->
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: 'simple', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
